#shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.66);
    filter: blur(10px);
    z-index: 5;
    pointer-events: none;
}

#shadow.skos {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Nieco lżejszy cień */
    filter: blur(15px); /* Większe rozmycie dla efektu cienia */
    transform-origin: top left;
    
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    
    z-index: 5;
    pointer-events: none;
}

#shadow.sklejka {
    background-color: rgba(0, 0, 0, 0.5); /* Wydłużenie cienia */
    filter: blur(10px);
    z-index: 5;
    pointer-events: none;
}

#shadow.circle {
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    border-radius: 50%;
    z-index: 5;
    pointer-events: none;
}
